body {
    padding: 0;
    height: 100%;
    margin: 0;
    font: 12px "Trebuchet MS";
    color: #222;
    background-color: #c9ab72
}

h2 {
    margin: 20px 0
}

[data-tabs] {
    display: flex;
    background: #b19561;
    padding: 0;
    border: 1px solid #000000;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: -1px 2px 1px 1px #000000, inset 2px -1px 2px 1px #000000, inset 2px -3px 2px 1px #FFEB3B, 0px 0px 7px 0px #efdc37;
}

[data-tabs]>* {
    background: #d67a29;
    color: #d67a29;
    border: 1px solid #db8f1a;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 10px 20px 10px;
    margin: 15px 3px -1px 3px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.7em;
    font-family: cursive;
    letter-spacing: .2em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    box-shadow: 1px -1px 0 1px #c15107, 2px -2px 0 1px #c15107, 3px -3px 0 1px #c15107, 4px -4px 0 1px #c15107, 4px -4px 5px 1px #FFEB3B, inset 0px 3px 5px -1px #FFEB3B, 9px -4px 5px 4px #000000;
}

[data-tabs] .active {
    padding: 5px 10px 5px 10px;
    margin: 35px 3px -1px 3px;
    color: darkgoldenrod;
    -webkit-text-shadow: yellow 0 -5px 8px;
    text-shadow: yellow 0 -5px 8px;
    -webkit-text-stroke-color: #ff0;
}

[data-panes]>* {
    display: none;
    /* border: 2px solid #ccc; */
    /* border-top: none; */
    padding: 10px 0px 0 0px;
    /* border-bottom-left-radius: 14px; */
    /* border-bottom-right-radius: 14px; */
}

[data-panes]>.active {
    display: block
}

#HEADER {
    z-index: 10;
    height: 85px;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    background: #000;
    box-shadow: inset 0 0 5px 3px #FFEB3B
}

#HEAD {
    width: 100%;
    min-height: 55px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0;
    font-weight: bold;
    background-image: radial-gradient(#000,#6d630d);
    color: #ff0;
    font-size: 22px;
    line-height: 25px;
    box-shadow: 0 0 15px 1px #FFEB3B;
}

div.RIGHT {
    float: right;
    padding: 5px;
    margin-top: 10px;
    margin-right: 10px;
    line-height: 2px;
    border-radius: 5px;
    border: 1px solid #FFEB3B;
    box-shadow: inset 0 0 10px 0 #FFEB3B
}

div.RIGHT a,a:visited {
    font-size: 10px;
    line-height: 10px;
    color: #f0f0ff;
    text-decoration: none
}

div.RIGHT div {
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    color: #00ff2b;
    text-decoration: none
}

div.LEFT {
    float: left;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 10px;
    margin-left: 10px;
    line-height: 2px;
    border-radius: 5px;
    border: 1px solid #FFEB3B;
    box-shadow: inset 0 0 10px 0 #FFEB3B
}

div.section {
    border: 1px solid #ccc;
    border-top: none;
    padding: 15px 15px 10px 5px;
    margin: 15px 0px 10px 0px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    box-shadow: inset 0 0 10px 0 #FFEB3B, 1px 1px 2px 0px #000000;
}

#MAIN {
    padding: 0 10px 10px 10px;
    top: 85px;
    position: relative;
    background-color: #c9ab72
}

#MAIN h1 {
    font: 18px "Trebuchet MS";
    color: #f8f8f8;
    background-color: #000;
    padding: 10px 0 10px 10px;
    margin: -5px 0 -15px 0;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 2px 2px #FFEB3B, 1px 0px 2px 0px #000000;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

#MAIN p {
    font-size: 15px;
	font-weight: bold;
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 5px;
    display: table
}

#MAIN a,a:visited {
    font-size: 15px;
    color: #222;
    text-decoration: none
}

#MAIN a:hover {
    color: #666
}

#MAIN form {
    font: 15px "Trebuchet MS";
    width: 98%
}

#MAIN iframe {
    height: 400px;
    width: 100%
}

#MAIN span.bold {
    font-weight: 900;
    font-size: 15px;
    margin: 0 0 0 0;
    width: 100%;
    display: block;
}

#MAIN span.bold1 {
    font-weight: 900;
    width: 120px;
    display: inline-block
}

#MAIN span.bold2 {
    font-weight: 900;
    display: inline-block;
}

#HEAD span.bold4 {
    font-size: 22px;
    padding: 10px 10px 10px 10px;
    box-shadow: inset yellow 0 0 2px 1px;
    display: inline;
    -webkit-animation: mymove4 1s infinite alternate;
    animation: mymove4 1s infinite alternate;
    border: 1px solid yellow;
    border-radius: 5px
}

#MAIN div.bold2 {
    font-size: 15px;
    margin-left: 10px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 5px;
    font-weight: 900;
    /* width: 80px; */
    display: inline-flex;
}

#MAIN span.bold4 {
    width: 98%;
    display: inline-block
}

@-webkit-keyframes mymove {
    from {
        color: #000
    }

    to {
        color: #00f
    }
}

@keyframes mymove {
    from {
        color: #000
    }

    to {
        color: #00f
    }
}

#MAIN hr {
    size: 1px;
    color: #000
}

#MAIN input[type="button"] {
    color: yellow;
    font-size: 14px;
    min-width: 100px;
    font-weight: bold;
    height: 25px;
    margin: 0px 3px 5px 3px;
    border: solid 1px #dc911a;
    border-radius: 5px;
    background: #d67a29;
    text-decoration: none;
    outline: none;
    text-align: center;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    transition: all .1s;
    box-shadow: 0 5px 1px #c15107, 1px 6px 5px yellow, 1px 7px 2px 1px #000;
    cursor: pointer;
}

#MAIN input[type="button"]:active {
    outline: none;
    text-decoration: none;
    box-shadow: 0 2px 0 #d35400,0px 3px 6px yellow;
    position: relative;
    top: 4px
}

#MAIN input[type="text"],input[type="password"] {
    color: black;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    padding: 2px 10px 2px 10px;
    margin: 0px 3px 5px 3px;
    border: solid 1px yellow;
    border-radius: 5px;
    text-decoration: none;
    outline: none;
    box-shadow: inset -1px 1px 3px 0px black, -1px 1px 6px 0px yellow;
}

#MAIN input[type="file"] {
	color: black;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    padding: 5px 10px 5px 10px;
    margin: 0px 3px 5px 3px;
    border: solid 1px yellow;
    border-radius: 5px;
    text-decoration: none;
    outline: none;
    box-shadow: inset -1px 1px 3px 0px black, -1px 1px 6px 0px yellow;
}

#MAIN select,option {
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 10px 2px 10px;
    margin: 0px 3px 5px 3px;
    border: solid 1px yellow;
    border-radius: 5px;
    text-decoration: none;
    outline: none;
    box-shadow: inset -1px 1px 3px 0px black, -1px 1px 6px 0px yellow;
}

.modal {
    display: none;
    position: fixed;
    z-index: 80;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 70%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0,0,0,0.4)
}

.modal-content {
    position: relative;
    background-color: #f8f8f8;
    margin: auto;
    padding: 15px 10px 0 10px;
    border: 2px solid #ccc;
    border-radius: 14px;
    width: 80%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: .4s;
    animation-name: animatetop;
    animation-duration: .4s
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.modal-body {
    padding: 2px 16px
}

.icons {
    margin: 10px
}

.icons8 {
    padding: 10px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    border-radius: 50%/50%;
    border: solid 1px #dc911a;
    background: #d67a29;
    text-align: center;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    transition: all .1s;
    box-shadow: 0 5px 1px #c15107,1px 6px 5px #000;
    cursor: pointer
}

.icons8:active {
    box-shadow: 0 2px 0 #d35400,0px 3px 6px #000;
    position: relative;
    top: 4px
}

[class*=icono-] {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-style: normal;
    color: currentColor;
    text-align: left;
    text-indent: -9999px;
    direction: ltr
}

[class*=icono-]:after,[class*=icono-]:before {
    content: '';
    pointer-events: none
}

[class*=icono-][class*=Circle] {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 2px
}

[class*=icono-][class*=Square] {
    border-radius: 4px;
    width: 30px;
    height: 30px;
    margin: 2px
}

[class*=icono-],[class*=icono-] * {
    box-sizing: border-box
}

.icono-play {
    width: 0;
    height: 0;
    border-width: 10px 0 10px 16px;
    border-style: solid;
    border-top-color: transparent;
    border-bottom-color: transparent;
    margin: 7px 9px
}

.icono-stop {
    width: 0;
    height: 0;
    border: 10px solid;
    margin: 7px
}

.icono-previous {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    margin: 7px 10px 7px 14px
}

.icono-next,.icono-previous {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left: 10px solid;
    border-right: none;
    margin: 7px 14px 7px 10px;
    box-shadow: 4px 0
}

.OffOn {
    font-size: 24px;
    position: relative;
    padding: 0px 0 0px 0;
    margin: -7px 0px 0px 10px;
    background: #d67a29;
    border: 2px solid #db8f1a;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 0 yellow, 3px 3px 2px 1px #000;
}

.OffOn input[type=checkbox] {
    position: absolute;
    opacity: 0
}

.OffOn label {
    width: 4em;
    height: 1em;
    position: relative;
    cursor: pointer;
    display: block
}

.OffOn label:before {
    content: 'OFF';
    position: absolute;
    width: 50%;
    text-align: center;
    color: #ff0;
    -webkit-text-shadow: yellow 0 0 10px;
    text-shadow: yellow 0 0 10px;
    font-weight: bold;
    font-size: .6em;
    line-height: 1.6;
    transition: all .2s ease;
    left: 50%;
    bottom: 0;
    top: 0
}

.OffOn label:after {
    content: 'ON';
    position: absolute;
    width: 50%;
    text-align: center;
    color: rgba(255,255,0,0.25);
    -webkit-text-shadow: yellow 0 0 10px;
    text-shadow: yellow 0 0 10px;
    line-height: 1.6;
    top: 0;
    bottom: 0;
    font-weight: bold;
    font-size: .6em;
    border: 2px solid #db8f1a;
    border-top: none;
    border-bottom: none;
    border-left: none;
    transition: all .2s ease
}

.OffOn input[type=checkbox]:checked + label:before {
    color: rgba(255,255,0,0.25)
}

.OffOn input[type=checkbox]:checked + label:after {
    color: #ff0
}

#footer {
    width: 100%;
    min-height: 35px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-left: -9px;
    padding-right: 19px;
    background-image: radial-gradient(#000,#6d630d);
    color: #ff0;
    font-size: 22px;
    box-shadow: 0 0 15px 1px #d4c331
}

#footer a,a:visited {
    font-size: 15px;
    color: #FFEB3B;
    text-decoration: none
}

#currentrelease {
    color: darkgreen;
}

#newrelease {
    color: darkred;
}

input[type='range'] {
    align-self: center;
    margin: 5px 5px 5px 5px;
    padding: 10px 5px 10px 0px;
    height: 25px;
    border: solid 1px #db8f1a;
    border-radius: 10px;
    width: 24em;
    background: #c9ab72;
    font-size: 1em;
    cursor: pointer;
    box-shadow: -1px 0 1px #000000, -1px 0 1px #fff, inset 0px 0px 5px #ff0;
}

input[type='range'], input[type='range']::-webkit-slider-runnable-track, input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
    position: relative;
    width: 13em;
    margin: 10px;
    height: 6px;
    border-radius: .1875em;
    background: #000000;
    box-shadow: inset 0px 0px 6px #FFEB3B, 0px 0 2px #000;
}

input[type='range']::-webkit-slider-thumb {
    margin-top: -0.75em;
    border: none;
    width: 4em;
    height: 2em;
    border-radius: .5em;
    box-shadow: -1px 0 1px #000000, inset -1px 0 1px #fff;
    background: radial-gradient(#ebe1e0 10%, rgba(235, 225, 224, 0.2) 10%, rgba(235, 225, 224, 0) 72%) no-repeat 50% 50%, radial-gradient(at 100% 50%, #e9dfde, #eae1de 71%, transparent 71%) no-repeat 2.5em 50%, linear-gradient(90deg, #e9dfde, #d0c8c6) no-repeat 100% 50%, radial-gradient(at 0 50%, #ccc6c5, #c6baba 71%, transparent 71%) no-repeat 0.75em 50%, linear-gradient(90deg, #e3d9d8, #d0c6c5) no-repeat 0 50%, linear-gradient(#cdc0c0, #fcf5ef, #fcf5ef, #cdc0c0);
    background-size: 0.825em 100%;
}

input[type='range']:focus {
    outline: none;
}

input[type='range']:focus::-webkit-slider-runnable-track {
    background: #ff0;
    box-shadow: inset -1px 0 1px #fff, 0 0 7px #ff0, 0 0 7px #ff0;
}

input[type='range']:focus::-moz-range-track {
    background: #898586;
}

table {
	padding: 10px;
	margin: 5px;
	/* border: 1px solid #666; */
	border-radius: 7px;
	border-spacing: 2px 5px;
	box-shadow: inset 0px 0px 2px 1px yellow, 1px 1px 3px 0px #000;
}

table tr, td {
    border-radius: 5px;
    box-shadow: inset 0px 0px 3px 0px yellow, 1px 1px 4px 0px black;
    /* border: 2px solid #db8f1a; */
}

td {
    font-weight: 900;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
}
tr {
    font-weight: 900;
    font-size: 15px;
    margin: 10px;
}

#stationsTable table tr:nth-child(odd) {
    background: #E6EEEE;
}
