menu "Конфигурация ESP32-Радиолы"

menu "Конфигурация Wifi"

config WIFI_SSID
    string "Название Wi-Fi сети"
	default "OpenWrt"
	help
		SSID (network name) to connect to.

config WIFI_PASSWORD
    string "Пароль WiFi"
	default "1234567890"
	help
		WiFi password (WPA or WPA2) to use.

		Can be left blank if the network has no security set.

endmenu

menu "Серверы точного времени"

config NTP0
	string "NTP №0"
	default "0.ru.pool.ntp.org"

config NTP1
	string "NTP №1"
	default "1.ru.pool.ntp.org"

config NTP2
	string "NTP №2"
	default "2.ru.pool.ntp.org"

config NTP3
	string "NTP №3"
	default "3.ru.pool.ntp.org"

    choice SNTP_TIME_SYNC_METHOD
        prompt "Метод синхронизации времени"
        default SNTP_TIME_SYNC_METHOD_IMMED
        help
            Метод синхронизации времени.

        config SNTP_TIME_SYNC_METHOD_IMMED
            bool "время обновляется сразу после получения"
        config SNTP_TIME_SYNC_METHOD_SMOOTH
            bool "время обновляется плавно, методом (adjtime)"
    endchoice

endmenu 

menu "Настройка часового пояса"

choice
    prompt "Выберите свой часовой пояс"
    default TZONE_5
    help
        Выбор часового пояса

    config TZONE_1
        bool "Киев, София"
    config TZONE_2
        bool "Калинингад"
    config TZONE_3
        bool "Москва"
    config TZONE_4
        bool "Самара"
	config TZONE_5
        bool "Екатеринбург"
	config TZONE_6
        bool "Омск"
	config TZONE_7
        bool "Красноярск"
	config TZONE_8
        bool "Иркутск"
	config TZONE_9
        bool "Чита"
	config TZONE_10
        bool "Владивосток"
	config TZONE_11
        bool "Южно-Сахалинск"
	config TZONE_12
        bool "Петропавловск-Камчатский"
endchoice

config TZONE
    string
    default "EET-2EEST,M3.5.0/3,M10.5.0/4" if TZONE_1
    default "EET-2" if TZONE_2
    default "MSK-3" if TZONE_3
    default "SAMT-4" if TZONE_4
	default "YEKT-5" if TZONE_5
	default "OMST-6" if TZONE_6
	default "KRAT-7" if TZONE_7
	default "IRKT-8" if TZONE_8
	default "YAKT-9" if TZONE_9
	default "VLAT-10" if TZONE_10
	default "SAKT-11" if TZONE_11
	default "PETT-12" if TZONE_12

endmenu

endmenu
